.intro {
    min-height: 100vh;
    position: relative;
    margin-bottom: 40px;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../assets/intro.jpg');
    background-size: cover;
    background-position: center;
}

.inner {
    height: 100%;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-weight: 500;
    color: #fff;
    font-size: 72px;
    line-height: 1.17;
    margin-bottom: 40px;
}

.text {
    font-size: 22px;
    line-height: 1.55;
    color: #fff;
    font-weight: 300;
    margin-bottom: 80px;
}

.buttons {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .text {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .buttons {
        flex-direction: column;
    }
}
